@charset "UTF-8";
body,html{min-width: 1000px;}
/*交互功能样式*/
.hide{display: none;}
.show{display: block;}

/*a标签样式*/
a{color: black;}
a:hover{color:#78e0e2;}

/*头部样式*/
.main-nav{width:100%; height: 100px;}
.main-nav .top-content{width:1000px; height:100px; margin: 0 auto;}
.main-nav .top-content .logo{display: block; background: url("../images/common/guanyu_mujing_02.png"); width:180px; height:100px;  float: left;}
.main-nav .top-content .title{float: right;}
.main-nav .top-content .title li{float: left; line-height: 100px;}
.main-nav .top-content ul li a{font-size:18px;}
.main-nav .top-content .title li .title-now{color:#78e0e2;}
.main-nav .top-content .title .icon{padding: 0px 14px; margin-top:-5px; font-weight: bold; }
.main-nav .top-content ul .now-visited{color:#78e0e2;}
.flower{width:100%; height: 67px; background: url("../images/common/huateng_02.png") center; margin-bottom:83px;}

/*版权*/
.copyright{height: 212px; background-color: #59493f;margin: 0 auto;overflow: hidden; }
.copyright .copyright-content{width:1000px; height: 212px; margin:0 auto;}
.copyright .copyright-content .content-left{display: inline-block;padding-left: 15px;}
.content-left .content-top{height: 86px;padding-top: 39px; font-size: 18px; color: #78e0e2;letter-spacing:3px;}
.content-left ul li{float: left;font-size: 16px;}
.content-left ul li:first-child{font-size: 18px;letter-spacing: 1px;}
.content-left ul{overflow: hidden;padding-top: 7px;}
.content-left ul li a{color:#FFFFFF;}
.content-left ul li a:hover{color:#78e0e2;}
.content-left .address{color:#fff;margin-top: 12px;font-size: 17px;letter-spacing: 1px;}
.content-left .address span{opacity: 0.7;}
.content-left .address span:last-child{padding-left: 26px;}
.content-left .region{color:#fff; font-size: 16px; margin-top: 16px;}
.content-left .region a{color:#fff; }
.content-left .region span{opacity: 0.7;color: #FFFFFF;}
.content-left .region span:last-child{float: right;}
.content-left ul .line{width:1px; height:23px; background-color: #fff; margin-left: 16px; margin-right: 16px;}
.content-right{width: 168px;float: right;margin-top: 29px;margin-right: 15px;height: 164px;display: inline-block;background: url("../images/common/code.png") no-repeat;}

/*左侧导航栏样式*/
.container .left-list{width:284px; background: url("../images/common/beijing_04.png"); float: left; display: inline-block;position: fixed;top: 250px}
.container .left-list ul{float: right; margin-right: 30px; margin-top: 40px;}
.container .left-list ul li{height: 56px;width: 80px}
.container .left-list ul li a{text-decoration: underline; font-size: 20px;}

/*右侧微信扫码公共样式*/
.container-degion{width:296px; height: 323px; float: right; background: url("../images/common/beijing_04.png");}
.container-degion p{width:112px; height: 112px; margin: 31px;}

/*移动版公共部分*/

/*导航*/
.main-nav-top{width:7.5rem; height: 1.24rem; background-color: #78e0e2; position: relative;}
.icon-nav-sanjiao{background: url("../images/index/yidong/nav-sanjiao_03.png") no-repeat; display: block; width:0.32rem; height:0.56rem; background-size: 0.32rem 0.56rem; position: absolute; top:0.34rem; left:0.24rem; }
.main-nav-top p{font-size: 0.8rem; font-weight: bold; text-align: center; line-height:1.24rem; color: #59493f;}
.nav-right-icon{width: 0.68rem; height: 0.68rem; background: url("../images/index/yidong/nav-right-icon_03.png") no-repeat; background-size: 0.68rem 0.68rem; position: absolute; right:0.3rem; top: 0.26rem; }
.nav-title{width:2.44rem; height: 8.9rem; background-color: #78e0e2; border-radius: 10px; position: absolute; right: 0.14rem; top:1.34rem;}
.nav-title .title-line{width: 1.64rem; height: 0.02rem; background-color: #59493f; display: block; margin-left: 0.4rem; margin-top: 0.44rem; margin-bottom: 0.36rem;}
.nav-title li{text-align: center;}
.nav-title li a{font-size: 0.4rem; color: #59493f;}
.nav-title li .nav-now{ color:#fff;}
.nav-title .nav-frist{padding-top: 0.42rem;}

/*功能类*/
.hide{display: none!important;}
.inner{width: 1000px;margin: 0 auto;position: relative}

/*侧边栏收缩动画*/
@media screen and (max-width:3000px) and (min-width:1650px){
    #left-list{
        width: 284px;
        transition:width 0.7s;
        -moz-transition:width 0.7s; /* Firefox 4 */
        -webkit-transition:width 0.7s; /* Safari and Chrome */
        -o-transition:width 0.7s; /* Opera */
    }
}
@media screen and (max-width:1650px) and (min-width:1300px){
    #left-list{
        width: 135px;
        transition:width 0.7s;
        -moz-transition:width 0.7s; /* Firefox 4 */
        -webkit-transition:width 0.7s; /* Safari and Chrome */
        -o-transition:width 0.7s; /* Opera */
    }
}
@media screen and (max-width:1300px) and (min-width:10px){
    #left-list{
        width: 0;
        opacity: 0.5;
        transition:width 0.7s;
        -moz-transition:width 0.7s; /* Firefox 4 */
        -webkit-transition:width 0.7s; /* Safari and Chrome */
        -o-transition:width 0.7s; /* Opera */
    }
}
/*导航选中态*/
.cur{color: #78e0e2;}











